// <RATING>
// Снипет (HTML): rating
.rating {
    display: flex;
    align-items: flex-end;
    font-size: 20px;
    line-height: 0.75;
    transition: opacity 0.3s ease 0s;
}
.rating.rating_sending {
    opacity: 0.2;
}
.rating.rating_set .rating__active,
.rating.rating_set .rating__item {
    cursor: pointer;
}

.rating__body {
    position: relative;
}
.rating__body::before {
    content: url("data:image/svg+xml,%3Csvg width='15' height='13' viewBox='0 0 15 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.1666 5.16013L9.37325 4.75347L7.49992 0.333466L5.62659 4.75347L0.833252 5.16013L4.47325 8.31347L3.37992 13.0001L7.49992 10.5135L11.6199 13.0001L10.5266 8.31347L14.1666 5.16013ZM9.22659 8.61347L9.59992 10.2201L8.18659 9.3668L7.49992 8.95347L6.81325 9.3668L5.39992 10.2201L5.77325 8.61347L5.95325 7.8268L5.34659 7.30013L4.09325 6.21347L5.73992 6.07347L6.53992 6.0068L6.85325 5.2668L7.49992 3.75347L8.14659 5.28013L8.45992 6.02013L9.25992 6.0868L10.9066 6.2268L9.65325 7.31347L9.04659 7.84013L9.22659 8.61347V8.61347Z' fill='%23ebdaab'/%3E%3C/svg%3E%0A")
    url("data:image/svg+xml,%3Csvg width='15' height='13' viewBox='0 0 15 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.1666 5.16013L9.37325 4.75347L7.49992 0.333466L5.62659 4.75347L0.833252 5.16013L4.47325 8.31347L3.37992 13.0001L7.49992 10.5135L11.6199 13.0001L10.5266 8.31347L14.1666 5.16013ZM9.22659 8.61347L9.59992 10.2201L8.18659 9.3668L7.49992 8.95347L6.81325 9.3668L5.39992 10.2201L5.77325 8.61347L5.95325 7.8268L5.34659 7.30013L4.09325 6.21347L5.73992 6.07347L6.53992 6.0068L6.85325 5.2668L7.49992 3.75347L8.14659 5.28013L8.45992 6.02013L9.25992 6.0868L10.9066 6.2268L9.65325 7.31347L9.04659 7.84013L9.22659 8.61347V8.61347Z' fill='%23ebdaab'/%3E%3C/svg%3E%0A")
    url("data:image/svg+xml,%3Csvg width='15' height='13' viewBox='0 0 15 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.1666 5.16013L9.37325 4.75347L7.49992 0.333466L5.62659 4.75347L0.833252 5.16013L4.47325 8.31347L3.37992 13.0001L7.49992 10.5135L11.6199 13.0001L10.5266 8.31347L14.1666 5.16013ZM9.22659 8.61347L9.59992 10.2201L8.18659 9.3668L7.49992 8.95347L6.81325 9.3668L5.39992 10.2201L5.77325 8.61347L5.95325 7.8268L5.34659 7.30013L4.09325 6.21347L5.73992 6.07347L6.53992 6.0068L6.85325 5.2668L7.49992 3.75347L8.14659 5.28013L8.45992 6.02013L9.25992 6.0868L10.9066 6.2268L9.65325 7.31347L9.04659 7.84013L9.22659 8.61347V8.61347Z' fill='%23ebdaab'/%3E%3C/svg%3E%0A")
    url("data:image/svg+xml,%3Csvg width='15' height='13' viewBox='0 0 15 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.1666 5.16013L9.37325 4.75347L7.49992 0.333466L5.62659 4.75347L0.833252 5.16013L4.47325 8.31347L3.37992 13.0001L7.49992 10.5135L11.6199 13.0001L10.5266 8.31347L14.1666 5.16013ZM9.22659 8.61347L9.59992 10.2201L8.18659 9.3668L7.49992 8.95347L6.81325 9.3668L5.39992 10.2201L5.77325 8.61347L5.95325 7.8268L5.34659 7.30013L4.09325 6.21347L5.73992 6.07347L6.53992 6.0068L6.85325 5.2668L7.49992 3.75347L8.14659 5.28013L8.45992 6.02013L9.25992 6.0868L10.9066 6.2268L9.65325 7.31347L9.04659 7.84013L9.22659 8.61347V8.61347Z' fill='%23ebdaab'/%3E%3C/svg%3E%0A")
    url("data:image/svg+xml,%3Csvg width='15' height='13' viewBox='0 0 15 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.1666 5.16013L9.37325 4.75347L7.49992 0.333466L5.62659 4.75347L0.833252 5.16013L4.47325 8.31347L3.37992 13.0001L7.49992 10.5135L11.6199 13.0001L10.5266 8.31347L14.1666 5.16013ZM9.22659 8.61347L9.59992 10.2201L8.18659 9.3668L7.49992 8.95347L6.81325 9.3668L5.39992 10.2201L5.77325 8.61347L5.95325 7.8268L5.34659 7.30013L4.09325 6.21347L5.73992 6.07347L6.53992 6.0068L6.85325 5.2668L7.49992 3.75347L8.14659 5.28013L8.45992 6.02013L9.25992 6.0868L10.9066 6.2268L9.65325 7.31347L9.04659 7.84013L9.22659 8.61347V8.61347Z' fill='%23ebdaab'/%3E%3C/svg%3E%0A");
    display: block;
    color: #ebdaab;
}
.rating__active {
    position: absolute;
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}
.rating__active::before {
    content: url("data:image/svg+xml,%3Csvg width='15' height='13' viewBox='0 0 15 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.1666 5.16013L9.37325 4.75347L7.49992 0.333466L5.62659 4.75347L0.833252 5.16013L4.47325 8.31347L3.37992 13.0001L7.49992 10.5135L11.6199 13.0001L10.5266 8.31347L14.1666 5.16013ZM9.22659 8.61347L9.59992 10.2201L8.18659 9.3668L7.49992 8.95347L6.81325 9.3668L5.39992 10.2201L5.77325 8.61347L5.95325 7.8268L5.34659 7.30013L4.09325 6.21347L5.73992 6.07347L6.53992 6.0068L6.85325 5.2668L7.49992 3.75347L8.14659 5.28013L8.45992 6.02013L9.25992 6.0868L10.9066 6.2268L9.65325 7.31347L9.04659 7.84013L9.22659 8.61347V8.61347Z' fill='%23FFC107'/%3E%3C/svg%3E%0A")
    url("data:image/svg+xml,%3Csvg width='15' height='13' viewBox='0 0 15 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.1666 5.16013L9.37325 4.75347L7.49992 0.333466L5.62659 4.75347L0.833252 5.16013L4.47325 8.31347L3.37992 13.0001L7.49992 10.5135L11.6199 13.0001L10.5266 8.31347L14.1666 5.16013ZM9.22659 8.61347L9.59992 10.2201L8.18659 9.3668L7.49992 8.95347L6.81325 9.3668L5.39992 10.2201L5.77325 8.61347L5.95325 7.8268L5.34659 7.30013L4.09325 6.21347L5.73992 6.07347L6.53992 6.0068L6.85325 5.2668L7.49992 3.75347L8.14659 5.28013L8.45992 6.02013L9.25992 6.0868L10.9066 6.2268L9.65325 7.31347L9.04659 7.84013L9.22659 8.61347V8.61347Z' fill='%23FFC107'/%3E%3C/svg%3E%0A")
    url("data:image/svg+xml,%3Csvg width='15' height='13' viewBox='0 0 15 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.1666 5.16013L9.37325 4.75347L7.49992 0.333466L5.62659 4.75347L0.833252 5.16013L4.47325 8.31347L3.37992 13.0001L7.49992 10.5135L11.6199 13.0001L10.5266 8.31347L14.1666 5.16013ZM9.22659 8.61347L9.59992 10.2201L8.18659 9.3668L7.49992 8.95347L6.81325 9.3668L5.39992 10.2201L5.77325 8.61347L5.95325 7.8268L5.34659 7.30013L4.09325 6.21347L5.73992 6.07347L6.53992 6.0068L6.85325 5.2668L7.49992 3.75347L8.14659 5.28013L8.45992 6.02013L9.25992 6.0868L10.9066 6.2268L9.65325 7.31347L9.04659 7.84013L9.22659 8.61347V8.61347Z' fill='%23FFC107'/%3E%3C/svg%3E%0A")
    url("data:image/svg+xml,%3Csvg width='15' height='13' viewBox='0 0 15 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.1666 5.16013L9.37325 4.75347L7.49992 0.333466L5.62659 4.75347L0.833252 5.16013L4.47325 8.31347L3.37992 13.0001L7.49992 10.5135L11.6199 13.0001L10.5266 8.31347L14.1666 5.16013ZM9.22659 8.61347L9.59992 10.2201L8.18659 9.3668L7.49992 8.95347L6.81325 9.3668L5.39992 10.2201L5.77325 8.61347L5.95325 7.8268L5.34659 7.30013L4.09325 6.21347L5.73992 6.07347L6.53992 6.0068L6.85325 5.2668L7.49992 3.75347L8.14659 5.28013L8.45992 6.02013L9.25992 6.0868L10.9066 6.2268L9.65325 7.31347L9.04659 7.84013L9.22659 8.61347V8.61347Z' fill='%23FFC107'/%3E%3C/svg%3E%0A")
    url("data:image/svg+xml,%3Csvg width='15' height='13' viewBox='0 0 15 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.1666 5.16013L9.37325 4.75347L7.49992 0.333466L5.62659 4.75347L0.833252 5.16013L4.47325 8.31347L3.37992 13.0001L7.49992 10.5135L11.6199 13.0001L10.5266 8.31347L14.1666 5.16013ZM9.22659 8.61347L9.59992 10.2201L8.18659 9.3668L7.49992 8.95347L6.81325 9.3668L5.39992 10.2201L5.77325 8.61347L5.95325 7.8268L5.34659 7.30013L4.09325 6.21347L5.73992 6.07347L6.53992 6.0068L6.85325 5.2668L7.49992 3.75347L8.14659 5.28013L8.45992 6.02013L9.25992 6.0868L10.9066 6.2268L9.65325 7.31347L9.04659 7.84013L9.22659 8.61347V8.61347Z' fill='%23FFC107'/%3E%3C/svg%3E%0A");
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: #FFC107;
}

.rating__items {
    display: flex;
	align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.rating__item {
    flex: 0 0 20%;
    height: 100%;
    opacity: 0;
}
.rating__value {
    font-size: rem(12);
    line-height: 1;
    padding: 0px 0px 0px 10px;
}

.filters-products {
	.rating {
		display: flex;
		align-items: center;
        padding: rem(5);
		background-color: #FAFAFA;
	}
}