//====================================================================================================
.page {
    padding: rem(20) 0;
    // .page__container
    &__container {
    }
    // .page__body
    &__body {
        display: flex;
        gap: rem(20);
        min-width: 0;
    }
    // .page__aside
    &__aside {
        position: relative;
        width: rem(48);
        transition: all 0.3s ease 0s;
        @media (max-width: $mobile) {
            position: absolute;
            left: -100%;
            top: 120px;
            width: rem(260);
            background-color: #fff;
            padding: rem(10);
            z-index: 20;
        }
        .menu-open & {
            transition: all 0.3s ease 0s;
            width: rem(240);
            @media (max-width: $mobile) {
                left: 0;
                width: rem(260);
            }
        }
    }
    // .page__content
    &__content {
        min-width: 0;
        max-width: 100%;
        width: 100%;
        background-color: $bgBlueColor;
        padding: rem(16);
        border-radius: 12px;
        min-height: 100vh;
        @media (max-width: $mobile) {
            padding: rem(10);
        }
    }
}

.aside {
    // .aside__menu
    &__menu {
        // .aside__menu_account
        &_account {
            position: relative;
            & .menu__body {
                position: absolute;
                left: 100%;
                top: 0;
                z-index: 10;
                visibility: hidden;
                opacity: 0;
                width: rem(240);
                transition: all 0.3s ease 0s;
                .menu__list {
                    background-color: #fff;
                    padding: rem(5);
                    border-radius: 8px;
                }
                .menu-open & {
                    opacity: 1;
                    visibility: visible;
                    position: static;
                    height: 100%;
                    .menu__list {
                        padding: 0;
                        padding-left: rem(35);
                        border-radius: 0;
                        position: relative;
                        &::before {
                            content: "";
                            position: absolute;
                            top: 0;
                            left: 20px;
                            width: rem(1);
                            height: 100%;
                            background-color: $bgBlueColor;
                        }
                    }
                }
            }
            &:hover {
                & .menu__body {
                    left: 100%;
                    opacity: 1;
                    height: 100%;
                    visibility: visible;
                }
            }
            .menu__item {
                &:not(:last-child) {
                    margin-bottom: rem(5);
                }
            }
            .menu__link {
                position: relative;
                transition: all 0.1s ease 0s;
                &::before {
                    content: "";
                    width: rem(5);
                    height: rem(5);
                    border-radius: 50%;
                    background-color: #ede7f6;
                }
                &:hover {
                    &::before {
                        background-color: $purpleColor;
                    }
                }
            }
        }
    }
    // .aside__menu-title
    &__menu-title {
        display: flex;
        align-items: center;
        gap: rem(12);
        padding: rem(12);
        border-radius: 12px;
        color: $purpleColor;
        svg {
            flex: 0 0 auto;
        }
        path {
            stroke: $purpleColor;
        }
    }
}

.menu {
    // .menu__body
    &__body {
    }
    // .menu__list
    &__list {
    }
    // .menu__item
    &__item {
        &_mail {
            .menu__link-info {
                background-color: $blueColor;
                color: #e3f2fd;
            }
        }
        &_maps {
            .menu__link-info {
                font-size: rem(10);
                img {
                    display: block;
                    width: rem(16);
                    height: rem(16);
                    object-fit: cover;
                    border-radius: 50%;
                }
            }
        }
    }
    // .menu__link
    &__link {
        display: flex;
        align-items: center;
        gap: rem(12);
        padding: rem(12);
        border-radius: 12px;
        background-color: #fff;
        color: $textColor;
        transition: all 0.3s ease 0s;
        svg {
            flex: 0 0 auto;
        }
        &:hover {
            color: $purpleColor;
            background-color: #ede7f6;
            path {
                stroke: $purpleColor;
            }
        }
    }
    &__link-text {
        flex: 1 1 auto;
        white-space: nowrap;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease 0s;
        .menu-open & {
            opacity: 1;
            visibility: visible;
            transition: all 0.3s ease 0s;
        }
    }
    &__link-info {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: rem(4);
        padding: rem(4);
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease 0s;
        background-color: #ede7f6;
        border-radius: 100px;
        color: $purpleColor;
        font-weight: 500;
        font-size: rem(12);
        line-height: 1.1;
        .menu-open & {
            opacity: 1;
            visibility: visible;
            transition: all 0.3s ease 0s;
        }
    }
}

.content-body {
    // .content-body__top
    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
        gap: rem(15);
        background-color: #fff;
        border-radius: 12px;
        padding: rem(10) rem(16);
        &:not(:last-child) {
            margin-bottom: rem(16);
        }
    }
    // .content-body__name-page
    &__name-page {
        font-weight: 500;
        font-size: rem(16);
        line-height: 1.2;
        color: $darkColor;
    }
    // .content-body__breadcrumbs
    &__breadcrumbs {
    }
    // .content-body__body
    &__body {
        width: 100%;
        min-height: 100vh;
        background-color: #fff;
        padding: rem(16) rem(16) rem(50) rem(16);
        border-radius: 12px;
        color: $darkColor;
        @media (max-width: $mobile) {
            padding: rem(10) rem(10) rem(25) rem(10);
        }
        &_product {
            &:not(:last-child) {
                margin-bottom: em(40);
            }
        }
    }
}
.breadcrumbs {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: rem(30);
    row-gap: rem(10);
    // .breadcrumbs__links
    &__links {
        position: relative;
        font-weight: 500;
        font-size: rem(12);
        line-height: 1.1;
        color: #4d4d4d;
        &:not(:last-child) {
            &::before {
                content: "";
                position: absolute;
                right: -19px;
                top: 50%;
                transform: translate(0, -50%);
                background-image: url("@img/arrow-right.svg");
                background-repeat: no-repeat;
                background-position: center;
                width: rem(8);
                height: rem(12);
            }
        }
        // .breadcrumbs__links_home
        &_home {
            display: grid;
            align-content: center;
            justify-content: center;
        }
    }
}

.body-products {
    // .body-products__top
    &__top {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: rem(15);
        &:not(:last-child) {
            margin-bottom: rem(24);
        }
    }
    // .body-products__title
    &__title {
        font-weight: 700;
        font-size: rem(20);
        line-height: 1.5;
    }
    // .body-products__search-block
    &__search-block {
        max-width: rem(530);
        height: rem(48);
        padding: rem(8) rem(16);
        input {
            height: 100%;
        }
        @media (max-width: $mobile) {
            padding: rem(8);
        }
    }
    // .body-products__inner
    &__inner {
        position: relative;
    }
    // .body-products__products
    &__products {
    }
    // .body-products__found
    &__found {
        font-weight: 500;
        font-size: rem(16);
        line-height: 1.5;
        padding-right: rem(260);
        &:not(:last-child) {
            margin-bottom: rem(20);
        }
        @media (max-width: em(500)) {
            padding-right: 0;
            padding-top: rem(50);
        }
    }
    // .body-products__active-filter
    &__active-filter {
    }
    // .body-products__items
    &__items {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        column-gap: rem(15);
        row-gap: rem(20);
        padding-right: 0;
        transition: all 0.3s ease 0s;
        &.active-filters {
            padding-right: rem(270);
            @media (max-width: $tablet) {
                padding-right: 0;
            }
        }
    }
    // .body-products__item
    &__item {
    }
    // .body-products__filters
    &__filters {
    }
}

.filter-active {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: rem(10);
    padding-right: rem(260);
    &:not(:last-child) {
        margin-bottom: rem(40);
    }
    @media (max-width: $tablet) {
        padding-right: 0;
    }
    // .filter-active__category
    &__category,
    &__gender {
        display: flex;
        align-items: center;
        gap: rem(10);
        border: 1px solid #f5f5f5;
        border-radius: 8px;
        padding: rem(10);
    }
    // .filter-active__title
    &__title {
        font-weight: 500;
        font-size: rem(12);
        line-height: 1.1;
    }
    // .filter-active__items
    &__items {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: rem(10);
    }
    // .filter-active__item
    &__item {
        display: flex;
        align-items: center;
        gap: rem(10);
        background-color: #ede7f6;
        padding: rem(8);
        border-radius: 4px;
    }
    // .filter-active__filter-name
    &__filter-name {
        font-weight: 500;
        font-size: rem(12);
        line-height: 1.1;
    }
    // .filter-active__delete
    &__delete {
        display: grid;
        align-content: center;
        justify-content: center;
    }
    // .filter-active__gender
    &__gender {
    }
    // .filter-active__clear
    &__clear {
        display: flex;
        align-items: center;
        gap: rem(10);
        font-weight: 500;
        font-size: rem(12);
        line-height: 1.1;
        padding: rem(10);
        background-color: #fff;
        border: 1px solid #f5f5f5;
        border-radius: 8px;
    }
}
.item-product {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #fafafa;
    border-radius: 12px;
    padding-bottom: rem(12);
    // .item-product__image
    &__image {
        padding-bottom: percent(213, 250);
        border-top-right-radius: 12px;
        border-top-left-radius: 12px;
        overflow: hidden;
        &:not(:last-child) {
            margin-bottom: rem(12);
        }
        img {
            border-top-right-radius: 12px;
            border-top-left-radius: 12px;
            transition: all 0.3s ease 0s;
            &:hover {
                transform: scale(1.1);
            }
        }
    }
    // .item-product__title
    &__title {
        font-weight: 500;
        font-size: rem(14);
        line-height: 1.5;
        padding: 0 rem(12);
        &:not(:last-child) {
            margin-bottom: rem(5);
        }
    }
    // .item-product__text
    &__text {
        flex: 1 1 auto;
        font-size: rem(12);
        line-height: 1.3;
        padding: 0 rem(12);
        color: $textColor;
        &:not(:last-child) {
            margin-bottom: rem(10);
        }
    }
    // .item-product__bottom
    &__bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: rem(10);
        padding: 0 rem(12);
    }
    // .item-product__price
    &__price {
        display: flex;
        align-items: center;
        gap: rem(5);
        font-weight: 900;
        font-size: rem(16);
        line-height: 1.2;
    }
    // .item-product__sale
    &__sale {
        font-weight: 700;
        font-size: rem(12);
        line-height: 1.1;
        text-decoration-line: line-through;
        color: #9e9e9e;
    }
    // .item-product__btn
    &__btn {
        flex: 0 0 48px;
        width: 48px;
        height: 41px;
        display: grid;
        align-content: center;
        justify-content: center;
        padding: rem(5);
        background-color: $blueColor;
        border-radius: 4px;
        &:hover {
            animation: leftRight 0.5s linear;
        }
    }
}

.filters-products {
    &__clear-filter {
        width: 100%;
        text-align: center;
        background-color: $blueColor;
        border-radius: 4px;
        padding: rem(12) rem(16);
        color: #fff;
        font-weight: 500;
        font-size: rem(14);
        line-height: 1;
    }
    // .filters-products__gender
    &__gender,
    &__categories,
    &__options {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        gap: rem(20);
    }
    // .filters-products__categories
    &__categories {
    }
}

// Product

.body-product {
    // .body-product__inner
    &__inner {
        min-width: 100%;
        display: flex;
        gap: rem(20);
        &:not(:last-child) {
            margin-bottom: em(25);
        }
        @media (max-width: em(1250)) {
            .menu-open & {
                flex-wrap: wrap;
            }
        }
        @media (max-width: em(900)) {
            flex-wrap: wrap;
        }
    }
    // .body-product__sliders
    &__sliders {
        max-width: 530px;
        min-width: 0;
        width: 100%;
        @media (max-width: em(1250)) {
            max-width: 100%;
        }
    }
    // .body-product__information
    &__information {
        min-width: rem(350);
        @media (max-width: $mobile) {
            min-width: 100%;
        }
    }
}
.sliders {
    // .sliders__slider
    &__slider {
        min-width: 0;
        margin-bottom: em(15);
    }
    // .sliders__wrapper
    &__wrapper {
    }
    // .sliders__slide
    &__slide {
        cursor: grab;
        width: 100%;
    }
    // .sliders__slide-image
    &__slide-image {
        border-radius: 12px;
        padding-bottom: percent(590, 530);
        img {
            border-radius: 12px;
        }
        @media (max-width: em(1250)) {
            padding-bottom: 100%;
        }
    }
}

.sliders-thumbs {
    // .sliders-thumbs__slider
    &__slider {
    }
    // .sliders-thumbs__wrapper
    &__wrapper {
    }
    // .sliders-thumbs__slide
    &__slide {
        cursor: pointer;
    }
    // .sliders-thumbs__slide-image
    &__slide-image {
        border-radius: 12px;
        padding-bottom: 100%;
        img {
            border-radius: 12px;
        }
    }
}
.information-product {
    // .information-product__block-name
    &__block-name {
        display: flex;
        align-items: center;
        gap: rem(15);
        &:not(:last-child) {
            margin-bottom: em(18);
        }
    }
    // .information-product__info
    &__info {
        flex: 1 1 auto;
    }
    // .information-product__stock
    &__stock {
        display: inline-flex;
        font-weight: 500;
        font-size: rem(10);
        line-height: 1.1;
        letter-spacing: 0.03em;
        color: #00c853;
        padding: rem(4) rem(8);
        background-color: #b9f6ca;
        border-radius: rem(100);
        &:not(:last-child) {
            margin-bottom: em(12);
        }
    }
    // .information-product__name
    &__name {
        display: flex;
        align-items: center;
        gap: rem(15);
        font-weight: 700;
        font-size: rem(20);
        line-height: 1.2;
    }
    // .information-product__new
    &__new {
        font-weight: 500;
        font-size: rem(10);
        line-height: 1.1;
        letter-spacing: 0.03em;
        color: $purpleColor;
        padding: rem(4) rem(8);
        background-color: #fff;
        border-radius: rem(100);
        border: 1px solid $purpleColor;
    }
    // .information-product__desired
    &__desired {
        display: grid;
        align-content: center;
        justify-content: center;
        width: rem(48);
        height: rem(48);
        background-color: #f5f5f5;
        border-radius: 4px;
        svg {
            transition: all 0.3s ease 0s;
        }
        &:hover {
            svg {
                transform: scale(1.1);
                path {
                    fill: $purpleColor;
                }
            }
        }
    }
    // .information-product__block-text
    &__block-text {
        font-weight: 400;
        font-size: rem(12);
        line-height: 1.2;
        color: $textColor;
        &:not(:last-child) {
            margin-bottom: em(18);
        }
    }
    // .information-product__rating
    &__rating {
        &:not(:last-child) {
            margin-bottom: em(18);
        }
    }
    // .information-product__price
    &__price {
        font-weight: 900;
        font-size: rem(24);
        line-height: 1.1;
        &:not(:last-child) {
            margin-bottom: em(25);
        }
    }
    // .information-product__block-setting
    &__block-setting {
        &:not(:last-child) {
            margin-bottom: em(35);
        }
    }
    // .information-product__colors
    &__colors,
    &__size,
    &__quantity {
        display: flex;
        align-items: center;
        gap: rem(15);
        &:not(:last-child) {
            margin-bottom: em(20);
        }
        span {
            max-width: rem(130);
            width: 100%;
            font-weight: 400;
            font-size: rem(14);
            line-height: 1.2;
            color: $textColor;
        }
    }
    // .information-product__size
    &__size {
        & .select {
            width: rem(65);
        }
    }
    // .information-product__quantity
    &__quantity {
    }
    // .information-product__btns
    &__btns {
        display: flex;
        gap: rem(12);
        &:not(:last-child) {
            margin-bottom: em(18);
        }
        @media (max-width: em(1300)) {
            flex-wrap: wrap;
        }
    }
    // .information-product__btn
    &__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: rem(12);
        max-width: rem(245);
        width: 100%;
        padding: rem(12) rem(30);
        color: #fff;
        font-weight: 500;
        font-size: rem(14);
        line-height: 1;
        border-radius: rem(4);
        transition: all 0.3s ease 0s;
        min-height: rem(48);
        @media (max-width: em(500)) {
            max-width: 100%;
        }
    }
    // .information-product__add-cart
    &__add-cart {
        background-color: $blueColor;
        svg {
            transition: all 0.3s ease 0s;
        }
        &:hover {
            background-color: #2c76b3;
            svg {
                transform: translate(10px, 0px) rotate(-15deg);
            }
        }
    }
    // .information-product__buy-now
    &__buy-now {
        background-color: $purpleColor;
        &:hover {
            background-color: #513385;
        }
    }
    // .information-product__offer
    &__offer {
        border-top: 1px solid #f5f5f5;
        padding-top: rem(10);
    }
    // .information-product__offer-title
    &__offer-title {
        display: flex;
        align-items: center;
        gap: rem(10);
        font-weight: 500;
        font-size: rem(16);
        line-height: 1.3;
        &:not(:last-child) {
            margin-bottom: em(18);
        }
    }
    // .information-product__offer-list
    &__offer-list {
        display: flex;
        flex-direction: column;
        gap: rem(25);
    }
    // .information-product__offer-item
    &__offer-item {
        display: flex;
        align-items: center;
        gap: rem(10);
        padding-left: rem(10);
        font-weight: 400;
        font-size: rem(12);
        line-height: 1.5;
        color: $textColor;
        &::before {
            content: "";
            flex: 0 0 5px;
            align-self: start;
            display: block;
            margin-top: em(10);
            width: rem(5);
            height: rem(5);
            background-color: $textColor;
            border-radius: 50%;
        }
    }
}

.filters-products {
    // .filters-products__color
    &__color {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
    // .filters-products__checkbox
    &__checkbox {
        // .filters-products__checkbox_color
        &_color {
        }
    }
}

.body-product {
    // .body-product__bottom
    &__bottom {
    }
    // .body-product__discription
    &__discription {
    }
}
.discription {
    // .discription__title
    &__title {
        display: inline-flex;
        font-weight: 500;
        font-size: rem(14);
        line-height: 1.3;
        color: $blueColor;
        padding-bottom: rem(5);
        border-bottom: 1px solid $blueColor;
        &:not(:last-child) {
            margin-bottom: em(15);
        }
    }
    // .discription__spollers
    &__spollers {
    }
}

.related-products {
    // .related-products__top
    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: rem(15);
        flex-wrap: wrap;
        &:not(:last-child) {
            margin-bottom: em(12);
        }
    }
    // .related-products__title
    &__title {
        color: #000;
        font-weight: 700;
        font-size: rem(20);
        line-height: 1.3;
    }
    // .related-products__controlls
    &__controlls {
        display: flex;
        align-items: center;
        gap: rem(11);
        & .swiper-button-prev,
        & .swiper-button-next {
            flex: 0 0 rem(37);
            display: grid;
            align-content: center;
            justify-content: center;
            width: rem(37);
            height: rem(37);
            background-color: #fff;
            border-radius: 8px;
            transition: all 0.3s ease 0s;
            svg {
                transition: all 0.3s ease 0s;
            }
            &:hover {
                background-color: #90caf9;
                svg {
                    path {
                        fill: $blueColor;
                    }
                }
            }
        }
        & .swiper-button-prev {
        }
        & .swiper-button-next {
        }
    }
    // .related-products__slider
    &__slider {
    }
    // .related-products__wrapper
    &__wrapper {
    }
    // .related-products__slide
    &__slide {
    }
}

// Form

.content-body {
    // .content-body__body
    &__body {
        // .content-body__body_form
        &_form {
            max-width: rem(855);
            margin: 0 auto;
            min-height: 0;
            max-height: 100%;
        }
    }
}
.forms-wizard {
    // .forms-wizard__body
    &__body {
    }
    // .forms-wizard__top
    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: rem(15);
        &:not(:last-child) {
            margin-bottom: em(17);
        }
    }
    // .forms-wizard__title
    &__title {
        font-weight: 500;
        font-size: rem(16);
        line-height: 1.3;
    }
    // .forms-wizard__icon
    &__icon {
        display: block;
        width: rem(30);
        height: rem(30);
    }
    // .forms-wizard__form
    &__form {
        display: flex;
        flex-direction: column;
        gap: rem(24);
    }
    // .forms-wizard__form-title
    &__form-title {
        font-weight: 500;
        font-size: rem(12);
        line-height: 1.1;
    }
    // .forms-wizard__input-block
    &__input-block {
        display: flex;
        gap: rem(24);
        width: 100%;
        @media (max-width: em(550)){
            flex-wrap: wrap;
        }
    }
    // .forms-wizard__line
    &__line {
        display: flex;
        flex-direction: column;
        gap: rem(5);
        width: 100%;
    }
    // .forms-wizard__input
    &__input {
    }
    // .forms-wizard__checkbox
    &__checkbox {
        display: flex;
        align-items: center;
        font-weight: 400;
        font-size: rem(12);
        line-height: 1.5;
        color: #616161;
    }
    // .forms-wizard__button
    &__button {
        align-self: flex-end;
        display: inline-block;
        font-weight: 500;
        font-size: rem(12);
        line-height: 1.1;
        color: #fff;
        border-radius: rem(4);
        padding: rem(8) rem(16);
        background-color: $blueColor;
    }
}

//====================================================================================================
